*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bkg-body);

}
.container{
    width:300px ;
    height: 300px;
    background-color:var(--bkg-container);

}
.advice__titulo{

}
.advice__numero{

}
.advice__texto{

}